# Extracting Oscar winners in 3 separate files, BestPics only, AllWinners, Only Best pic actor actress

In [18]:
# For data processing
import numpy as np
import pandas as pd

# For API usage
import requests as r

# For progress bar
from tqdm import tqdm

In [19]:
oscarData = pd.read_csv('the_oscar_award.csv')
oscarData.head()

,year_film,year_ceremony,ceremony,category,name,film,winner
0,1927,1928,1,ACTOR,Richard Barthelmess,The Noose,False
1,1927,1928,1,ACTOR,Emil Jannings,The Last Command,True
2,1927,1928,1,ACTRESS,Louise Dresser,A Ship Comes In,False
3,1927,1928,1,ACTRESS,Janet Gaynor,7th Heaven,True
4,1927,1928,1,ACTRESS,Gloria Swanson,Sadie Thompson,False

In [20]:
print("Data type : ", type(oscarData))
print("Data dims : ", oscarData.shape)

Data type :  <class 'pandas.core.frame.DataFrame'>
Data dims :  (10765, 7)

In [21]:
print(oscarData.dtypes)

year_film         int64
year_ceremony     int64
ceremony          int64
category         object
name             object
film             object
winner             bool
dtype: object

In [23]:
bestPic = oscarData[['year_film','category','film','winner']]

In [24]:
bestPic2 = oscarData[(oscarData['category'].isin(['BEST PICTURE'])) & (oscarData['winner'].isin(['TRUE']))]
print (bestPic2)

Empty DataFrame
Columns: [year_film, year_ceremony, ceremony, category, name, film, winner]
Index: []

In [25]:
winners = oscarData[oscarData['winner']]

In [26]:
winners = winners.dropna()

# Create 2DF for ALL winners and another for further cleaning to select only some winners

In [29]:
winners_ALL_clean = winners.drop(columns=['ceremony', 'category', 'name']).drop_duplicates()
winners_ALL_clean
winners_some_clean = winners.drop(columns=['ceremony', 'name', 'year_ceremony']).drop_duplicates()
winners_some_clean

,year_film,category,film,winner
1,1927,ACTOR,The Last Command,True
3,1927,ACTRESS,7th Heaven,True
6,1927,ART DIRECTION,The Dove;,True
9,1927,CINEMATOGRAPHY,Sunrise,True
11,1927,DIRECTING (Comedy Picture),Two Arabian Knights,True
...,...,...,...,...
10743,2022,SOUND,Top Gun: Maverick,True
10745,2022,VISUAL EFFECTS,Avatar: The Way of Water,True
10753,2022,WRITING (Adapted Screenplay),Women Talking,True
10755,2022,WRITING (Original Screenplay),Everything Everywhere All at Once,True
10764,2022,AWARD OF COMMENDATION,Welcome to Chechnya,True

In [38]:
bestPic2 = winners[(winners['category'] == "BEST PICTURE") | (winners['category'] == "OUTSTANDING PICTURE") | (winners['category'] == "OUTSTANDING PRODUCTION") | (winners['category'] == "OUTSTANDING MOTION PICTURE") | (winners['category'] == "BEST MOTION PICTURE")]

someWinners = winners_some_clean[(winners_some_clean['category'] == "BEST PICTURE") | (winners_some_clean['category'] == "OUTSTANDING PICTURE") | (winners_some_clean['category'] == "OUTSTANDING PRODUCTION") | (winners_some_clean['category'] == "OUTSTANDING MOTION PICTURE") | (winners_some_clean['category'] == "BEST MOTION PICTURE") | (winners_some_clean['category'] == "ACTOR") | (winners_some_clean['category'] == "ACTRESS") | (winners_some_clean['category'] == "ACTOR IN A LEADING ROLE") | (winners_some_clean['category'] == "ACTRESS IN A LEADING ROLE")]
someWinners

,year_film,category,film,winner
1,1927,ACTOR,The Last Command,True
3,1927,ACTRESS,7th Heaven,True
21,1927,OUTSTANDING PICTURE,Wings,True
36,1928,ACTOR,In Old Arizona,True
45,1928,ACTRESS,Coquette,True
...,...,...,...,...
10525,2021,ACTRESS IN A LEADING ROLE,The Eyes of Tammy Faye,True
10591,2021,BEST PICTURE,CODA,True
10641,2022,ACTOR IN A LEADING ROLE,The Whale,True
10653,2022,ACTRESS IN A LEADING ROLE,Everything Everywhere All at Once,True
10718,2022,BEST PICTURE,Everything Everywhere All at Once,True

# Now that we have extracted all the best actors and best actress and best picture, need to check for duplicates

In [39]:
someWinners = someWinners.drop(columns=['category']).drop_duplicates()
someWinners

       year_film                               film  winner
1           1927                   The Last Command    True
3           1927                         7th Heaven    True
21          1927                              Wings    True
36          1928                     In Old Arizona    True
45          1928                           Coquette    True
...          ...                                ...     ...
10518       2021                       King Richard    True
10525       2021             The Eyes of Tammy Faye    True
10591       2021                               CODA    True
10641       2022                          The Whale    True
10653       2022  Everything Everywhere All at Once    True

[243 rows x 3 columns]

In [36]:
bestPic2

,year_film,year_ceremony,ceremony,category,name,film,winner
21,1927,1928,1,OUTSTANDING PICTURE,Paramount Famous Lasky,Wings,True
64,1928,1929,2,OUTSTANDING PICTURE,Metro-Goldwyn-Mayer,The Broadway Melody,True
100,1929,1930,3,OUTSTANDING PRODUCTION,Universal,All Quiet on the Western Front,True
140,1930,1931,4,OUTSTANDING PRODUCTION,RKO Radio,Cimarron,True
178,1931,1932,5,OUTSTANDING PRODUCTION,Metro-Goldwyn-Mayer,Grand Hotel,True
...,...,...,...,...,...,...,...
10219,2018,2019,91,BEST PICTURE,"Jim Burke, Charles B. Wessler, Brian Currie, P...",Green Book,True
10350,2019,2020,92,BEST PICTURE,"Kwak Sin Ae and Bong Joon Ho, Producers",Parasite,True
10474,2020,2021,93,BEST PICTURE,"Frances McDormand, Peter Spears, Mollye Asher,...",Nomadland,True
10591,2021,2022,94,BEST PICTURE,"Philippe Rousselet, Fabrice Gianfermi and Patr...",CODA,True
10718,2022,2023,95,BEST PICTURE,"Daniel Kwan, Daniel Scheinert and Jonathan Wan...",Everything Everywhere All at Once,True

In [40]:
bestPic2 = bestPic2.reset_index(drop=True)
winners_clean = winners_clean.reset_index(drop=True)
someWinners = someWinners.reset_index(drop=True)

,year_film,year_ceremony,ceremony,category,name,film,winner
0,1927,1928,1,OUTSTANDING PICTURE,Paramount Famous Lasky,Wings,True
1,1928,1929,2,OUTSTANDING PICTURE,Metro-Goldwyn-Mayer,The Broadway Melody,True
2,1929,1930,3,OUTSTANDING PRODUCTION,Universal,All Quiet on the Western Front,True
3,1930,1931,4,OUTSTANDING PRODUCTION,RKO Radio,Cimarron,True
4,1931,1932,5,OUTSTANDING PRODUCTION,Metro-Goldwyn-Mayer,Grand Hotel,True
...,...,...,...,...,...,...,...
90,2018,2019,91,BEST PICTURE,"Jim Burke, Charles B. Wessler, Brian Currie, P...",Green Book,True
91,2019,2020,92,BEST PICTURE,"Kwak Sin Ae and Bong Joon Ho, Producers",Parasite,True
92,2020,2021,93,BEST PICTURE,"Frances McDormand, Peter Spears, Mollye Asher,...",Nomadland,True
93,2021,2022,94,BEST PICTURE,"Philippe Rousselet, Fabrice Gianfermi and Patr...",CODA,True
94,2022,2023,95,BEST PICTURE,"Daniel Kwan, Daniel Scheinert and Jonathan Wan...",Everything Everywhere All at Once,True

# Export all the DF into CSV files for usein data cleaning

In [41]:
bestPic2.to_csv('BestPicWinners.csv', index = True)
winners_clean.to_csv('AllWinners.csv', index = True)
someWinners.to_csv('SomeWinners.csv', index = True)